.content-body-container {
    width: 35%;
    height: 1000px;
    border-style: solid;
    border-width: 1px;
    margin-left: 10.4%;
}

.featured-website-template {

}

.related-search-container {
    width: 20%;
    height: 200px;
    position: absolute;
    right: 25%;
    top: 600px;
    border-style: solid;
    border-width: 1px;
}

#num-search-results {
    color: #707586;
    font-size: 17.35px;
    letter-spacing: 0.5px;
    margin-bottom: 27px;
}

