.website-container {
    width: 35%;
    height: 1000px;
    border-style: solid;
    border-width: 1px;
    margin-left: 15%;

}

.related-search-container {
    width: 20%;
    height: 200px;
    position: absolute;
    right: 25%;
    top: 600px;
    border-style: solid;
    border-width: 1px;
}

.number-search-results {
    color: #707586;
    font-size: 16px;
    letter-spacing: 0.5px;
}