.content-body-container {
    width: 35%;
    height: 1000px;
    border-style: solid;
    border-width: 1px;
    margin-left: 10.4%;
}

strong {
    font-weight: bold !important;
}

.featured-website-template {

}

.ad-text {
    font-size: 20px;
}

.website-url {
    font-size: 19px
}

.carat-down-icon {
    color: gray;
    margin-left: 3px;
}

.website-title-container {
    margin-top: 15px;
}

.website-title {
    color: #210dab !important;
    font-size: 30px;
    margin-top: 20px;
}

.website-title:hover {
    text-decoration: underline;

}

.website-description

.related-search-container {
    width: 20%;
    height: 200px;
    position: absolute;
    right: 25%;
    top: 600px;
    border-style: solid;
    border-width: 1px;
}

#num-search-results {
    color: #707586;
    font-size: 17.35px;
    letter-spacing: 0.5px;
    margin-bottom: 27px;
    margin-top: 17px;
}

