body {
    min-height: 100vh;
    width: 100%;
}

.container {
    display: flex; 
    flex-direction: column;
    width: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: #5f6368;
}
.e1 {
    display: flex;
    height: 90px;
    transform: translateY(20px);
}

.e1-1 {
    display: flex;
    align-items: center;
    margin-left: -32px;
    
}

.e1-2 {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 250px;
    justify-content: space-evenly;
    transform: scale(0.9);

}

.e2 {
    height: 70px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: #e1e1e2;
    border-bottom-style: solid;
    border-bottom-width: 1px;;
    font-size: 18px;
    font-family: Google Sans,arial,sans-serif;
    color: #5f6368;

}

.e2-1 {
    display: flex;
    align-items: flex-end;
    margin-left: 200px;
    width: 600px;
    justify-content: space-evenly;
}

.e2-2 {
    display: flex;
    align-items: flex-end;
    padding-bottom: 3px;
    width: 180px;
    justify-content: space-evenly;
    margin-left: 50px;


}

.pair {
    display: flex; 
    align-items: center;
}

.pair:active {
    border-bottom: blue;
    border-width: 5px;
}

.material-icons {
    margin-right: 7px;
}
#google-logo {
    display: block;
    transform: scale(0.5) translateY(8px);
}

#search-bar {
    width: 800px;
    height: 55px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
    border-width: 1px;
    padding-left: 25px;
    font-size: 20px;
    margin-left: -20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#search-bar:focus {
    outline: none;
}

#search-bar:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
